<div id="form">
   <h2 class="logintext">Login</h2>
      <form action="/login" method="POST">
        <label class="usernametext">Username
            <input type="text" name="username" placeholder="User Name" />
        </label>
        <label class="passwordtext">Password
            <input type="password" name="password" placeholder="********" />
        </label>
        <button type="submit" class="loginbutton">Login</button>
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
       <form action="/signup" method="GET">
      <h2 class="notamembertext">Not a member?</h2>
      <button type="submit" class="singupbutton">Sign up here</button>
   </form>
</div>