<div id="form">
    <h2 class="signuptext">Signup</h2>
    <form action="/signup" method="POST">
        <label class="signuptext">Username
            <input type="text" name="username" placeholder="User Name" />
        </label>
        <label class="signuptext">Password
            <input type="password" name="password" placeholder="********" />
        </label>
        <button type="submit" class="singupbutton">Signup</button>
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>
<div>
  <form action="/" method="GET">
    <p class="signuptext">Have an account?</p>
    <button type="submit" class="loginbutton">Log in here</button>
  </form>
</div>