<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      {{{body}}}
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <script src="/js/script.js"></script>
   
   <footer>
    
     <span>Andrea Fàbregas Martínez</span>
    <a href="https://github.com/afabregasm">
         <img alt="giticon" src="/images/githubicon.png"width="40" height="20">
          </a>
    <a href="https://www.linkedin.com/in/afabregasm/">
         <img alt="linkinicon" src="/images/linkedinicon.png"width="40" height="20">
          </a>
     <span>Fran Rabassa Diaz</span>
    <a href="https://github.com/fRanaRfs">
         <img alt="giticon" src="/images/githubicon.png"width="40" height="20">
      </a>
    <a href="https://www.linkedin.com/in/franrabassadiaz/">
         <img alt="linkinicon" src="/images/linkedinicon.png"width="40" height="20">
          </a>


   </footer>


   </body>

</html>
