<h1>{{playlist.playlistname}}</h1>

<form action="/playlist/{{playlist._id}}/update" method="post">
<button type="submit">Update Playlist</button>
</form>

<form action="/playlist/{{playlist._id}}/delete" method="post">
<button type="submit">Delete Playlist</button>
</form>