<form action="/playlist/{{playlist._id}}/update-data" method="POST">

<label for="name">Playlist name:</label>
    <input id="name" name="name" type="text" value=""></input>

<button type="submit">Update Playlist</button>
</form>