<form action="/playlist/{{playlist._id}}/update-data" method="POST">

<label for="name" class="updatenametext">Name:</label>
    <input id="name" name="name" type="text" value=""></input>

<button type="submit" class="updateplaylistbutton">Update Playlist</button>
</form>

