<div id="form">
  <form action="/search/{{this.value}}" method="POST">
    <label>
      <input type="text" name="artist" placeholder="Search here..." />
    </label>
    <button type="submit">Search</button>
  </form>
</div>