<div id="form">
  <form action="/search/results" method="POST">
    <label>
      <input type="text" name="value" placeholder="Your search here!" />
    <select id="type" name="type">
      <option value="song">Song</option>
      <option value="artist">Artist</option>
    </select>
    </label>
    <button type="submit" class="searchbutton">Search</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>