<div>
    {{#each track}}
    <h5>{{name}}</h5>
    <p>{{artists.0.name}}</p>
    <figure>
        <figcaption>Preview:</figcaption>
        <audio
        controls
        src="{{preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </figure>
    {{/each}}
</div>